@font-face {
   font-family: 'Expletus Sans';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Expletus Sans';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/admin/Dropbox/Seapoint%20Studios/Website%20Code/fonts/Expletus Sans/700italic.ttf') format('truetype');
}
